.WhyBlock {
	margin-top: 150px;
}

.title {
	display: flex;
	justify-content: center;
	font-size: 45px;
	font-weight: 700;
	color: rgba(76, 53, 99, 1);
}

.cards_block {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	gap: 30px;
	justify-content: center;
}

.card {
	display: flex;
	background-color: #fff;
	padding: 30px;
	flex-basis: 31%;
	border-radius: 30px;
	font-size: 20px;
	justify-content: space-around;
	align-items: center;
	height: 195px;
}

.icon svg {
	width: 80px;
	height: 80px;
}
.text {
	max-width: 200px;
}
