.Contacts {
	background: linear-gradient(0deg, #f6f2f2 0%, rgba(241, 241, 241, 1) 95%, rgba(210, 210, 210, 0.822) 100%);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}
.map {
	display: flex;
	justify-content: center;
}

.img_wrap {
	position: relative;
	background-color: black;
}

.img_wrap img {
	opacity: 0.8;
}

.map_contacts {
	position: absolute;
	top: 100px;
	left: 250px;
}
