.Partners {
	position: relative;
	z-index: 0;
	background: linear-gradient(0deg, #f6f2f2 0%, rgba(241, 241, 241, 1) 95%, rgba(210, 210, 210, 0.822) 100%);
}

.Partners::before {
	content: "";
	position: absolute;
	width: 100%;
	z-index: -1;
	height: 600px;
	background: linear-gradient(90deg, rgba(203, 136, 255, 1) 3%, rgba(122, 12, 232, 1) 100%);
}

.container {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}

.investors_form {
	padding-top: 50px;
	margin-bottom: 60px;
}

.image_wrapp {
	position: absolute;
	top: 5%;
	right: 0;
	rotate: (20deg);
}

.card_text {
	position: absolute;
	bottom: 34%;
	left: 10%;
	color: #f6f2f2;
	font-weight: 700;
	background-color: rgba(122, 12, 232, 1);
	padding: 15px 50px;
}

.form {
	padding-bottom: 150px;
}
