.Companies {
	background: linear-gradient(
		0deg,
		rgba(210, 210, 210, 0.522) 0%,
		rgba(122, 12, 232, 0) 30%,
		rgba(122, 12, 232, 0.32) 65%,
		rgba(122, 12, 232, 0.9) 100%
	);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}

.callback {
	padding-top: 50px;
}
