.form_callback {
	height: 492px;
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	max-width: 700px;
}

.form_title {
	font-size: 45px;
	font-weight: 700;
	line-height: 130%;
	color: rgba(76, 53, 99, 1);
	text-transform: uppercase;
}

.form_text {
	margin-top: 40px;
	font-weight: 300;
	font-size: 22px;
	letter-spacing: 2%;
	line-height: 33px;
	color: rgba(76, 53, 99, 1);
}

.callback_block {
	display: flex;
	align-items: center;
	height: 40%;
	gap: 50px;
}

.input label {
	height: 46px;
	border-radius: 6px;
	background-color: #fff;
}

.policy_block {
	color: rgba(34, 2, 66, 1);
	font-weight: 200;
}

.policy {
	cursor: pointer;
	font-weight: 200;
}
