.home {
	display: flex;
	background: linear-gradient(0deg, #f6f2f2 0%, rgba(241, 241, 241, 1) 95%, rgba(210, 210, 210, 0.822) 100%);
}

.container {
	max-width: 1335px;
	margin: 0 auto;
	height: 100%;
	min-height: calc(100vh - 330px);
}
.background {
	position: absolute;
	z-index: 0;
	height: 368px;
	width: 100%;
	background: rgb(149, 236, 255);
	background: linear-gradient(0deg, rgba(149, 236, 255, 1) 0%, rgba(122, 12, 232, 1) 52%);
}

.cardProfile,
.container,
.content,
.footer {
	position: relative;
	z-index: 1;
}
.container,
.content,
.footer {
	width: 100%;
}
