.FormInvestments {
	position: relative;
	z-index: 0;
	margin-top: 200px;
	height: 900px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 58px 4px rgba(65, 73, 79, 0.3);
	-moz-box-shadow: 0px 0px 58px 4px rgba(65, 73, 79, 0.3);
	box-shadow: 0px 0px 58px 4px rgba(65, 73, 79, 0.3);
	border-radius: 30px;
}
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}
.waves {
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 0;
	z-index: -1;
}
.waves svg {
	width: 100%;
	height: 400px;
}
.wave2 {
	margin-left: 170px;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	display: flex;
	max-width: 60%;
	margin-top: 70px;
	font-size: 45px;
	font-weight: 700;
	text-align: center;
	color: rgba(76, 53, 99, 1);
	line-height: 75px;
}

.subtitle {
	margin-top: 50px;
	color: rgba(76, 53, 99, 1);
	font-size: 20px;
	width: 40%;
	text-align: center;
}

.input_block {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.person {
	margin-top: 50px;
}

.person_link {
	cursor: pointer;
	text-decoration: underline;
}

.btn {
	margin-top: 50px;
}
